@import '../../../assets/style/base.scss';

.app-genres--item {
	cursor: pointer;
	font-size: $title-font-size;
	margin-left: 4rem;
	line-height: $base-line-height;
}


@media(max-width: $breakpoint-small) {
	.app-genres--item {
		margin: 0.8rem;
		display:inline-block;
	}
}

