<!-- <mat-icon matBadge="{{totalMovies$ | async}}" class="app-watch-list--badge" [routerLink]="['/watchMovie']" matBadgeOverlap="false">bookmark_border</mat-icon> -->
<!-- 
<span class="p-overlay-badge p-mr-5">
    <i class="pi pi-bell" style="font-size: 2em"></i>
    <span class="p-badge">2</span>
</span> -->

<div [routerLink]="['/watchMovie']" class="app-watch-list--quantityMovies">
<span class="p-overlay-badge p-mr-5">
	<mat-icon class="app-watch-list--badge">bookmark_border</mat-icon>
    <span class="p-badge">{{quantityMovies$ | async}}</span>
</span> 
</div>

