@import '../assets/style/base.scss';

.app-component {
	max-width: 1600px;
	min-width:375px;
	margin:auto;

&--container{
	width:100%;
	display:flex;
}
&--genres {
 	width:30%;
}

&--outlet {
 	width:70%;
}

&--header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}	
}
@media(max-width: $breakpoint-xlarge) {
	.app-component{
		width: 100%;
	}
}

@media(max-width: $breakpoint-small) {
	.app-component{
		margin: 0 0.5rem;


		&--container{
		flex-direction: column;
		}
		&--genres {
			 width:100%;
			 text-align: center;
		}
		
		&--outlet {
			 width:100%;
		}
	}
}

@media(max-width: $breakpoint-xsmall) {
	.app-component{
	/* 	width:$breakpoint-xsmall; */

	&--header {
			flex-direction: column;
			justify-content: space-between;
		}	
	}
}