.app-component {
	width:1600px;
	max-width: 1600px;
	min-width:375px;
	margin:auto;

&--container{
	width:100%;
	display:flex;
}
&--genres {
 	width:30%;
}

&--outlet {
 width:70%;
	}

&--header {
display: flex;
justify-content: space-between;
}
	
}