 @import '../../../assets/style/variables.scss'; 

.app-card {
	box-shadow: $base-shadow;
	margin:1.5rem;
	padding: 0.5rem;
	
	&--container {
		  display:flex;
	} 

	&--information {
	 	/* width:100%; */
		margin-left:1rem;
		flex-basis: 0;
		flex-grow: 3;
	}

 	&--img {
		width:100%;
		height:auto; 
	} 

	&--wrapper-img {
		flex-grow: 1;
		flex-basis: 0;
		position: relative;
		height:100%; 
	} 

	&--wrapper-img:after { 
		content: ''; 
		position: absolute; 
		top: 0;
		left: 0; 
		right: 0; 
		bottom: 0; 
		background: rgba(0,0,0,.5);  
		opacity: 0; 
	}
 	&--wrapper-img:hover:after { 
		 opacity: 1; 
	} 
	&--title {
		 font-size: $title-font-size; 
	}
	&--container-title {
		display: flex;
		justify-content: space-between; 
		margin:1rem 0;
	}
	&--bookmarks.mat-icon{
		font-size: $big-font-size;
        height: auto !important; 
		width: auto !important;
		cursor: pointer;
	}

	&--star {
		color: $third-color;
	}
	&--rate {
		font-size: $title-font-size;
	}
}


@media(max-width: $breakpoint-medium) {
	.app-card {
		&--rating {
			display:none;
		}

		&--wrapper-img {
		   width:200px;  
	   } 

	}
}


@media(max-width: $breakpoint-xsmall) {
	.app-card {
		&--container {
			flex-direction: column;
		}

		&--information {
			margin:auto;
		}
	}
}