@import '../../assets/style/variables.scss';

.app-card {
	margin:1.5rem;
	box-shadow: $base-shadow;
	padding: 0.5rem;
	

	&--container {
		display:flex;
	}

	&--information {
		margin-left:1rem;
	}
	 &--wrapper-img {
		position: relative;

	} 
	&--wrapper-img:after { 
		content: ''; 
		position: absolute; 
		top: 0;
		left: 0; 
		right: 0; 
		bottom: 0; 
		background: rgba(0,0,0,.5);  
		opacity: 0; 
	}
 	&--wrapper-img:hover:after { 
		 opacity: 1; 
		} 
}