@import '../../../assets/style/base.scss';

.app-actors {
    margin: 2.5rem 1.5rem;
  
 /*    @media (min-width: $breakpoint-xsmall) {
      margin: 3rem 1.5rem;
    }
  
    @media (min-width: $breakpoint-large) {
      margin: 5.1rem;
	} */
	&--head {
		display: flex;
		align-items: baseline;
		margin-bottom: 1.5rem;
	}
	&--title {
		font-size: $title-font-size;;
	 	letter-spacing: $letter-spacing;
  }
 	&--item-style {
		/* background-color: #212121; */
		background-color: forestgreen;
		border: 1px solid rgba(255, 255, 255, 0.1);
		color: $base-font-color;
		border-radius: 5px;
 		margin: 0.5rem; 
		position: relative;
		cursor: pointer;

		&:focus {
			outline-style: none;
		  }
		img {
			transition: all .5s ease-out;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		  }

		h6 {
			font-size: 14px;
			overflow: hidden;
			margin: 5px 4px;
			text-transform: uppercase;
			font-family: $font-family-serif-dosis;
			font-weight: 700;
			padding: 2px 2px;
			color: $base-font-color;
			width: auto;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	&--hover {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-family: $font-family-serif-dosis;
		font-size: 14px;
		font-weight: 700;
		color: #fff;
		background-color: $secondary-color;
		padding: 8px 15px;
		z-index: 2;
		width: 120px;
		height: 38px;
		border-radius: 1px;
		cursor: pointer;
		transition: all .5s ease-out;
	}
	&--overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: transparent;
		  }
		&--overlay:hover {
			opacity: 1;
		}
  }
  