@import '../../../assets/style/base.scss';

.app-details {
	margin:1.5rem;
	box-shadow: $base-shadow;
	padding: 1rem;
	font-size: $base-font-size;

	&--container {
		display:flex;
		width:100%;
	}
	&--info {
		margin-left:1rem;
		overflow: auto;
	}
	&--title {
		margin: 1rem 0;
		font-size: $title-font-size;
	}
	&--country {
		display: inline;
	}

	&--comma {
		margin-left: 1rem;
	  
		&:not(:last-child):after {
		  content: ',';
		}
	  }

	&--star {
		color: $third-color;
	}
	&--video {
		margin:5rem;
		display:flex;
		justify-content: center;
		align-items: center;
	}
	&--margin-string {
		margin:1rem;
	}
}



 @media(max-width: $breakpoint-medium) {
	
}

@media(max-width: $breakpoint-small) {

}

@media(max-width: $breakpoint-xsmall) {
	
} 