@import '../../assets/style/variables.scss';

.app-details {
	border:1px solid darkgreen;
	font-size: $base-font-size;

	&--container {
		display:flex;
	}
	&--info {
		margin-left:1rem;
	}

	&--comma {
		margin-left: 1rem;
	  
		&:not(:last-child):after {
		  content: ',';
		}
	  }

	&--star {
		color: $third-color;
	}
	&--video {
		margin:5rem;
		display:flex;
		justify-content: center;
		align-items: center;
	}
	&--margin-string {
		margin:1rem;
	}
}