@import '../../assets/style/base.scss';
 
.app-popular {
width:100%;
margin:1rem;
font-family: $font-family--sans-serif;

&--img-container {
text-align: center;
height: 100%;
}

&--title-movie {
	/* font-size: $title-font-size; 
	margin: 1rem;
	height: 3rem; */
	margin: 1rem 0;
	font-size: $title-font-size;
	height: 2.5rem;
}

&--star {
	color: $third-color;
}
&--rate {
	font-size: $title-font-size;
} 

}