.app-popular {
	display: flex;
	border: 5px solid purple;
	width:auto;
	
	&--img-container{
	margin:10px;
	position: relative;
	}
	&--img-container:after { 
		content: ''; 
		position: absolute; 
		top: 0;
		left: 0; 
		right: 0; 
		bottom: 0; 
		background: rgba(0,0,0,.5);  
		opacity: 0; 
	}
 	&--img-container:hover:after { 
		 opacity: 1; 
		} 
}