@import '../../../assets/style/base.scss';
 
.app-popular {
	width:100%;
	font-family: $font-family--sans-serif;

&--img-container {
	text-align: center;
	height: 100%;
}

&--title-movie {
	margin: 1rem 0;
	font-size: $title-font-size;
	height: 3.2rem;
}

&--star {
	color: $third-color;
}
&--rate {
	font-size: $title-font-size;
} 
}


@media(max-width: $breakpoint-xlarge) {
	.app-popular {
&--title-movie {
	height: 2.5rem;
}
}
}

@media(max-width: $breakpoint-large) {
	.app-popular {
		&--title-movie {
			font-size: $base-font-size; 
		}
		}
}

/* @media(max-width: $breakpoint-medium) {
	
}

@media(max-width: $breakpoint-small) {

}

@media(max-width: $breakpoint-xsmall) {
	
} */