@import './variables.scss'; 

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
	margin: 0;
	padding: 0;
} 

body {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--surface-a);
	font-family: $base-font-family;
	color: $base-font-color;
	font-weight: 400;
}

a {
  text-decoration: none !important;
  color: $anchor-font-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  font-size: $title-font-size;
}


p {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  height: auto;   
  vertical-align: middle;
}

