@import './variables.scss'; 

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--surface-a);
	font-family: $base-font-family;
	color: $base-font-color;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none !important;
  color: $anchor-font-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  font-size: $title-font-size;
}


p {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #ccc;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

img {
  height: auto;   
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem 0;
    text-align: left;
  }
}
