@import '../../../assets/style/base.scss';
.app-search {
	display:flex;
	flex-direction: row-reverse;
	margin: 2rem 3.5rem;
	&--input {
		width: 30rem;
	}
	&--button {
		margin-left: 1rem;
	} 
}



@media(max-width: $breakpoint-small) {
	.app-search {
		margin: 2rem;
		&--input {
			width: 15rem;
		}
		
	}
}

